body{
  text-align: center;
  padding: 50px;
  
}

.container{
  text-align: left;
}

.painel{
  color: blue;
  
}

.toggle-painel{
  background-color: #ccc8c8;
  border-radius: 20px;
  box-shadow: 0 30px 50px #232323;

}